# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
.venv/
env/
venv/
ENV/

# Flask stuff
instance/
*.db
*.sqlite3

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# dotenv
.env